hr {
	margin-bottom: 4rem;
}

.img {
	width: 50%;
	height: 50%;
	margin: auto;
	background-size: auto;
}

.shadow-2-strong {

}

.masker {
	width: 50%;
	margin: auto; 
}

a {
	color: rgba(79, 79, 79, 1.0);
}

a:hover {
	color: rgba(0, 0, 0, 0.8);
}